@{
    ViewBag.Title = "Home Page";
}



<ul id="actionList" data-role="listview" data-theme="d" data-filter="true" data-dividertheme="c" data-filter-theme="d" data-filter-placeholder="Search friends...">
					<li data-role="list-divider">A</li>
					<li><a href="#detailsPage?id=a"  data-transition='none'>@ViewBag.Message;</a></li>
					
				</ul>

              