@{
    ViewBag.Title = "Home ";
}

 <ul id="actionList" data-role="listview" data-theme="d" data-filter="false" data-dividertheme="c" data-filter-theme="d" data-filter-placeholder="Search friends...">
					<li data-role="list-divider">initial</li>
					<li><a href="#"  data-transition='none'></a></li>                    
</ul>

        