@{
    ViewBag.Title = "Home ";
}

 <ul id="actionList" data-role="listview" data-autodividers="true"  data-theme="d" data-filter="false" data-dividertheme="c" data-filter-theme="d" data-filter-placeholder="Search friends...">
      
        <h1 class="ff">
					<img src="@Url.Content("~/Content/images/gsu.gif")" class="logo" alt="logo"/> <br/>
				Campus <br /> Directory</h1>
</ul>

        