@{
    ViewBag.Title = "Home ";
}

 <ul id="actionList" data-role="listview" data-autodividers="true"  data-theme="d" data-filter="false" data-dividertheme="c" data-filter-theme="d" data-filter-placeholder="Search friends...">
      
        <h1 class="ff">
					Georgia  State  <br /> University <br />
				Campus Directory</h1>
</ul>

        